<button class="button is-success" (click)="refresh()">Refresh</button>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <th>Love Team ID</th>
    <th>Love Team</th>
    <th>Anniversary Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let loveTeam of loveTeams">
      <td>{{loveTeam.loveTeamId}}</td>
      <td><strong>{{loveTeam.nameOfBoy}}</strong> loves <strong>{{loveTeam.nameOfGirl}}</strong></td>
      <td>{{loveTeam.anniversaryDate}}</td>
    </tr>
  </tbody>
</table>